<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="static/images/favicon.png" type="image/png" />
    <title>The UACT</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">The UACT</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Navbar-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <!--<div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
            </div>
        </div>-->
        </form>
        <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
            <!-- Position it -->
            <div style="position: absolute; top: 100px; right: 0;">

                <!-- Then put toasts within -->
                <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto">Bootstrap</strong>
                        <small class="text-muted">just now</small>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        See? Just like this.
                    </div>
                </div>

                <div id="toast2" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="mr-auto">Bootstrap</strong>
                        <small class="text-muted">2 seconds ago</small>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Heads up, toasts will stack automatically
                    </div>
                </div>
            </div>
        </div>
        
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="{{ url_for('dashboard') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-helicopter"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Other Menu</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Other One
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="layout-static.html">1</a><a class="nav-link" href="layout-sidenav-light.html">2</a></nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Other Two
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    1
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="login.html">Login</a><a class="nav-link" href="register.html">Register</a><a class="nav-link" href="password.html">Forgot Password</a></nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                    2
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="401.html">401 Page</a><a class="nav-link" href="404.html">404 Page</a><a class="nav-link" href="500.html">500 Page</a></nav>
                                </div>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Other Three</div>
                        <a class="nav-link" href="charts.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Other Four
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Other Five
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Dev User
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div id="spinner">
                    <img id="loading-image" src="static/images/spinner2.gif" alt="Loading..." />
                    <br />
                    <img id="loading-image2" src="static/images/spinner.gif" alt="Loading..." />
                </div>
                <div class="container-fluid">
                    <h1 class="mt-4">Drone</h1>

                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Drone</li>

                    </ol>
                    <p id="header-state"><b>Vehicle:</b> <br><b>Armed:</b> <br><b>Mode:</b> <br><b>Altitude:</b></p>

                    <div class="row">
                        <div class="btn-group-vertical col-xl-2 col-md-2" role="group">
                            <button id="connect" type="button" class="btn btn-lg btn-primary" data-backdrop="false" data-keyboard="false" data-toggle="modal" onclick="connectClick()" data-target="#connectPopup">Connect</button>
                            <a tabindex="0" class="btn btn-sm btn-light" role="button" data-trigger="focus" data-toggle="popover" data-placement="bottom" data-content="Details" title="Connect">
                                Details
                            </a>
                        </div>
                        <div class="btn-group-vertical col-xl-2 col-md-2" role="group">
                            <button id="simulation" type="button" class="btn btn-lg btn-primary" data-backdrop="false" data-keyboard="false" data-toggle="modal" data-target="#simulationPopup">Simulation</button>
                            <a tabindex="0" class="btn btn-sm btn-light" role="button" data-trigger="focus" data-toggle="popover" data-placement="bottom" data-content="Details" title="Connect">
                                Details
                            </a>
                        </div>
                        <div class="btn-group-vertical col-xl-2 col-md-2" role="group">
                            <button id="auto" type="button" class="btn btn-lg btn-primary" data-backdrop="false" data-keyboard="false" data-toggle="modal" data-target="#autoModePopup" disabled>Auto</button>
                            <a tabindex="0" class="btn btn-sm btn-light" role="button" data-trigger="focus" data-toggle="popover" data-placement="bottom" data-content="Details" title="Connect">
                                Details
                            </a>
                        </div>
                        <div class="btn-group-vertical col-xl-2 col-md-2" role="group">
                            <button id="guided" type="button" class="btn btn-lg btn-primary" data-backdrop="false" data-keyboard="false" data-toggle="modal" data-target="#guidedModePopup">Guided</button>
                            <a tabindex="0" class="btn btn-sm btn-light" role="button" data-trigger="focus" data-toggle="popover" data-placement="bottom" data-content="Details" title="Connect">
                                Details
                            </a>
                        </div>
                        <div class="btn-group-vertical col-xl-2 col-md-2" role="group">
                            <button id="rtl" type="button" class="btn btn-lg btn-primary" data-backdrop="false" data-keyboard="false" data-toggle="modal" onclick="rtlClick()" data-target="#rtlModePopup">RTL</button>
                            <a tabindex="0" class="btn btn-sm btn-light" role="button" data-trigger="focus" data-toggle="popover" data-placement="bottom" data-content="Details" title="Connect">
                                Details
                            </a>
                        </div>
                        <div class="btn-group-vertical col-xl-2 col-md-2" role="group">
                            <button id="loiter" type="button" class="btn btn-lg btn-primary" data-backdrop="false" data-keyboard="false" data-toggle="modal" data-target="#stabilizeModePopup">LOITER</button>
                            <a tabindex="0" class="btn btn-sm btn-light" role="button" data-trigger="focus" data-toggle="popover" data-placement="bottom" data-content="Details" title="Connect">
                                Details
                            </a>
                        </div>
                        <div class="btn-group-vertical col-xl-2 col-md-2" role="group">
                            <button id="land" type="button" class="btn btn-lg btn-primary" data-backdrop="false" data-keyboard="false" data-toggle="modal" data-target="#landModePopup" disabled>Land</button>
                            <a tabindex="0" class="btn btn-sm btn-light" role="button" data-trigger="focus" data-toggle="popover" data-placement="bottom" data-content="Details" title="Connect">
                                Details
                            </a>
                        </div>
                        <div class="btn-group-vertical col-xl-2 col-md-2" role="group">
                            <button id="cancel" type="button" class="btn btn-lg btn-danger" data-backdrop="false" data-keyboard="false" data-toggle="modal" data-target="#cancelFlightPopup" disabled>Cancel</button>
                            <a tabindex="0" class="btn btn-sm btn-light" role="button" data-trigger="focus" data-toggle="popover" data-placement="bottom" data-content="Details" title="Connect">
                                Details
                            </a>
                        </div>
                        <div class="btn-group-vertical col-xl-2 col-md-2" role="group">
                            <button id="prevFlights" type="button" class="btn btn-lg btn-danger" data-backdrop="false" data-keyboard="false" data-toggle="modal" onclick="prevFlightsClick()" data-target="#prevFlightsPopup">Prev Flights</button>
                            <a tabindex="0" class="btn btn-sm btn-light" role="button" data-trigger="focus" data-toggle="popover" data-placement="bottom" data-content="Details" title="Connect">
                                Details
                            </a>
                        </div>
                        <div class="btn-group-vertical col-xl-2 col-md-2" role="group">
                            <button id="prevFlights" type="button" class="btn btn-lg btn-danger" data-backdrop="false" data-keyboard="false" data-toggle="modal" onclick="closeVehicleClick()">Close Vehicle</button>
                            <a tabindex="0" class="btn btn-sm btn-light" role="button" data-trigger="focus" data-toggle="popover" data-placement="bottom" data-content="Details" title="Connect">
                                Details
                            </a>
                        </div>
                        <div class="btn-group-vertical col-xl-2 col-md-2" role="group">
                            <button id="prevFlights" type="button" class="btn btn-lg btn-primary" data-backdrop="false" data-keyboard="false" data-toggle="modal" onclick="test()">Test</button>
                            <a tabindex="0" class="btn btn-sm btn-light" role="button" data-trigger="focus" data-toggle="popover" data-placement="bottom" data-content="Details" title="Connect">
                                Details
                            </a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="prevFlightsPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content" id="prevFlightPopupContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Previous Flights</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h6 class="modal-title" id="exampleModalLongTitle">Guided Flights</h6>
                                        <table id="prevFlightsTable" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th data-field="id" scope="col">ID</th>
                                                    <th data-field="targetLat" scope="col">Target Latitude</th>
                                                    <th data-field="targetLon" scope="col">Target Longitude</th>
                                                    <th data-field="run_velocity" scope="col">Velocity</th>
                                                    <th data-field="run_altitude" scope="col">Altitude</th>
                                                    <th data-field="afterReach" scope="col">After Arrival</th>
                                                    <th data-field="run_date" scope="col">Date & Time</th>
                                                    <th>Run</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="connectPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content" id="simulationPopupContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Connection Settings</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h6 class="modal-title" id="exampleModalLongTitle">Select Your Connection</h6>
                                        <table id="connectionTable" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th data-field="telemetryName" scope="col">Telemetry Name</th>

                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="simulationPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content" id="simulationPopupContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Simulation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h6 class="modal-title" id="exampleModalLongTitle">Select Home Location</h6>
                                        <div class="input-group">
                                            <input id="simulationHomeLat" type="text" class="form-control" placeholder="Latitude" required>
                                            <input id="simulationHomeLon" type="text" class="form-control" placeholder="Longtitude" required>
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-secondary" role="button" id="simulationUserLocation"><i class="fas fa-map-marker-alt"></i></button>
                                                <button class="btn btn-outline-secondary" role="button" id="simulationSelectMapButton"><i class="fas fa-map mr-1"></i>Map</button>
                                                <button class="btn btn-outline-secondary" data-toggle="popover" data-placement="bottom" data-content="Maximum travel distance is set to 1.5 kilometers. Green circle shows the range of the drone."><i class="fas fa-question"></i></button>
                                            </div>
                                        </div>
                                        <div id="simulationSelectMap">

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="simulationStart" type="button" class="btn btn-primary">Start</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="autoModePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content" id="autoModePopupContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Auto Mode</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h6 class="modal-title" id="exampleModalLongTitle">Select Point 1</h6>
                                        <div id="firstPoint" class="input-group">
                                            <input id="autoPoint1Lat" type="number" class="form-control" placeholder="Latitude" required>
                                            <input id="autoPoint1Lon" type="number" class="form-control" placeholder="Longtitude" required>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" role="button" id="autoSelectMap" data-backdrop="false" data-keyboard="false" data-toggle="modal" data-target="#autoSelectMapPopup"><i class="fas fa-map mr-1"></i>Map</span>
                                            </div>
                                        </div>
                                        <br />
                                        <h6 style="display:none" class="modal-title" id="exampleModalLongTitle2">Point 2</h6>
                                        <div style="display:none" id="secondPoint" class="input-group">
                                            <input id="autoPoint2Lat" type="number" class="form-control" placeholder="Latitude" required>
                                            <input id="autoPoint2Lon" type="number" class="form-control" placeholder="Longtitude" required>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" role="button" id="autoSelectMap" data-backdrop="false" data-keyboard="false" data-toggle="modal" data-target="#autoSelectMapPopup"><i class="fas fa-map mr-1"></i>Map</span>
                                                <button onclick="cancelNewLocation()" class="btn btn-outline-secondary" role="button" id="cancelPoint2"><i class="fas fa-times"></i></button>
                                            </div>
                                        </div>
                                        <h5 style="display:none" id="landOption2">Next step: Land</h5>
                                        <h5 style="display:none" id="rtlOption2">Next step: RTL</h5>
                                        <h6 style="display:none" class="modal-title" id="exampleModalLongTitle3">Point 3</h6>
                                        <div style="display:none" id="thirdPoint" class="input-group">
                                            <input id="autoPoint3Lat" type="number" class="form-control" placeholder="Latitude" required>
                                            <input id="autoPoint3Lon" type="number" class="form-control" placeholder="Longtitude" required>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" role="button" id="autoSelectMap" data-backdrop="false" data-keyboard="false" data-toggle="modal" data-target="#autoSelectMapPopup"><i class="fas fa-map mr-1"></i>Map</span>
                                                <button onclick="cancelNewLocation()" class="btn btn-outline-secondary" role="button" id="cancelPoint3"><i class="fas fa-times"></i></button>
                                            </div>
                                        </div>
                                        <h5 style="display:none" id="landOption3">Next step: Land</h5>
                                        <h5 style="display:none" id="rtlOption3">Next step: RTL</h5>
                                        <h6 style="display:none" class="modal-title" id="exampleModalLongTitle4">Point 4</h6>
                                        <div style="display:none" id="fourthPoint" class="input-group">
                                            <input id="autoPoint4Lat" type="number" class="form-control" placeholder="Latitude" required>
                                            <input id="autoPoint4Lon" type="number" class="form-control" placeholder="Longtitude" required>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" role="button" id="autoSelectMap" data-backdrop="false" data-keyboard="false" data-toggle="modal" data-target="#autoSelectMapPopup"><i class="fas fa-map mr-1"></i>Map</span>
                                                <button onclick="cancelNewLocation()" class="btn btn-outline-secondary" role="button" id="cancelPoint4"><i class="fas fa-times"></i></button>
                                            </div>
                                        </div>
                                        <h5 style="display:none" id="landOption4">Final step: Land</h5>
                                        <h5 style="display:none" id="rtlOption4">Final step: RTL</h5>
                                        <br />
                                        <br />
                                        <button onclick="selectNewStep()" id="selectNewStepnButton" class="btn btn-primary btn-sm" type="button">Select New Step</button>
                                        <br />
                                        <br />
                                        <div id="selectNewStepGroup" class="btn-group" role="group" style="display:none">
                                            <button onclick="selectNewLocation()" id="selectPointButton" class="btn btn-primary btn-sm" type="button">Select New Point</button>
                                            <button onclick="selectNewOptionLand()" id="nextOptionLand" class="btn btn-primary btn-sm" type="button">Land</button>
                                            <button onclick="selectNewOptionRtl()" id="nextOptionRtl" class="btn btn-primary btn-sm" type="button">RTL</button>
                                        </div>
                                        <br />
                                        <br />
                                        <h6 class="modal-title" id="exampleModalLongTitle">Set Velocity</h6>
                                        <div class="input-group">
                                            <input id="autoVel" type="number" min="1" max="5" class="form-control" placeholder="Velocity" required>
                                        </div>
                                        <h6 class="modal-title" id="exampleModalLongTitle">Set Altitude</h6>
                                        <div class="input-group">
                                            <input id="autoAlt" type="number" min="2" max="10" class="form-control" placeholder="Altitude" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="autoStart" type="button" class="btn btn-primary">Start</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade " id="guidedModePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content" id="guidedModePopupContent">

                                    <div class="modal-header">

                                        <!-- <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false" data-animation="true" id="toast" style="position:absolute" >

                        <div class="toast-header">
                            <i class="fas fa-exclamation-circle">  </i>
                            <strong class="mr-auto">    Location Error</strong>

                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="toast-body">
                            Selected location is not in the range.<br /> Please select another location.
                        </div>
                    </div>-->

                                        <h5 class="modal-title" id="exampleModalLongTitle">Guided Mode</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <h6 class="modal-title" id="exampleModalLongTitle">Select Destination</h6>
                                        <div class="input-group">
                                            <input id="guidedPointLat" type="number" class="form-control" placeholder="Latitude">
                                            <input id="guidedPointLon" type="number" class="form-control" placeholder="Longtitude">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-secondary" role="button" id="guidedSelectMapButton"><i class="fas fa-map-marked-alt"></i> Map</button>
                                                <button class="btn btn-outline-secondary" data-toggle="popover" data-placement="bottom" data-content="Maximum travel distance is set to 1.5 kilometers. Green circle shows the range of the drone."><i class="fas fa-question"></i></button>
                                            </div>
                                        </div>

                                        <div id="guidedSelectMap">

                                            <script type="text/javascript" src="static/scripts/scripts.js"></script>

                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <h6 class="modal-title" id="exampleModalLongTitle">Set Velocity</h6>
                                                <input id="guidedVel" type="number" min="1" max="5" class="form-control" placeholder="Velocity" required>
                                            </div>
                                            <div class="col">
                                                <h6 class="modal-title" id="exampleModalLongTitle">Set Altitude</h6>
                                                <input id="guidedAlt" type="number" min="2" max="20" class="form-control" placeholder="Altitude" required>
                                            </div>
                                        </div>
                                        <div>
                                            <h6 class="modal-title" id="exampleModalLongTitle">After Arrival</h6>
                                            <div class="form-row">
                                                <label class="radio-inline col-xl-4"> <input type="radio" name="guidedRadio" id="guidedRtlRadio" value="RTL" checked> Return to Launch </label>
                                                <label class="radio-inline col-xl-4"> <input type="radio" name="guidedRadio" id="guidedLandRadio" value="LAND"> Land </label>
                                                <label class="radio-inline col-xl-4"> <input type="radio" name="guidedRadio" id="guidedLoiterRadio" value="LOITER"> Loiter </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="guidedStart" type="button" class="btn btn-primary"><i class="fas fa-flag-checkered"></i> Start</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="modal fade" id="rtlModePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="stabilizeModePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="landModePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="cancelFlightPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="radio" id="rtlradio" name="cancelRadio" value="rtl">
                                        <label for="rtlradio">RTL</label><br>
                                        <input type="radio" id="landradio" name="cancelRadio" value="land">
                                        <label for="landradio">LAND</label><br>
                                        <input type="radio" id="loiterradio" name="cancelRadio" value="loiter">
                                        <label for="loiterradio">LOITER</label>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" id="cancelStart" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <div class="card-header"><i class="fas fa-map mr-1"></i>Map</div>
                                <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js" type="text/javascript"></script>
                                <!--<div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>-->
                                <div id="googleMap" style="width:100%;height:400px;"></div>


                            </div>
                        </div>
                    </div>
                </div>
                <script src="static/scripts/scripts.js"></script>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; The UACT 2020</div>
                        <div>
                            <a href="#">Privacy Policy</a> &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASOO96jqmNjNeZ-yT1K27PjaMGR2vkSHk&callback=initMaps&language=en"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="static/scripts/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
</body>

</html>